{% extends 'themes/register_visitor.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block description %}Page d'inscription du projet blog en Symfony 7 | dwwm20{% endblock %}

{% block keywords %}Blog, contact, email, formulaire, numéro de téléphone{% endblock %}

{% block main %}

    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <img class="img-fluid" src="/images/static/register/inscription.png" alt="Un bloc note qui vous invite a vous inscrire.">
            </div>

            <div class="col-lg-5">
                {% for flash_error in app.flashes('verify_email_error') %}
                    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                {% endfor %}

                <h1 class="fw-bold mb-3">Inscription</h1>

                {{ form_errors(registrationForm) }}

                {{ form_start(registrationForm) }}

                    <div class="row mb-3">
                        <div class="col-lg-6">
                            <label for="registration_form_firstName">Prénom</label>
                            <div class="text-danger"> {{ form_errors(registrationForm.firstName) }} </div>
                            {{ form_widget(registrationForm.firstName, {'attr': {'class':'form-control', 'autofocus':'autofocus'}}) }}
                        </div>
                        <div class="col-lg-6">
                            <label for="registration_form_lastName">Nom</label>
                            <div class="text-danger"> {{ form_errors(registrationForm.lastName) }} </div>
                            {{ form_widget(registrationForm.lastName, {'attr': {'class':'form-control'}}) }}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-lg-12">
                            <label for="registration_form_email">Email</label>
                            <div class="text-danger"> {{ form_errors(registrationForm.email) }} </div>
                            {{ form_widget(registrationForm.email, {'attr': {'class':'form-control'}}) }}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-lg-12">
                            <label for="registration_form_password_first">Mot de passe</label>
                            <div class="text-danger"> {{ form_errors(registrationForm.password.first) }} </div>
                            {{ form_widget(registrationForm.password.first, {'attr': {'class':'form-control'}}) }}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-lg-12">
                            <label for="registration_form_password_second">Confirmer le mot de passe</label>
                            <div class="text-danger"> {{ form_errors(registrationForm.password.second) }} </div>
                            {{ form_widget(registrationForm.password.second, {'attr': {'class':'form-control'}}) }}
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="text-danger"> {{ form_errors(registrationForm.agreeTerms) }} </div>
                        <label for="registration_form_agreeTerms">
                            {{ form_widget(registrationForm.agreeTerms) }} Lire et accpeter <a data-bs-toggle="modal" data-bs-target="#staticBackdrop" href="">Les conditions générales d'utilisation</a>
                        </label>

                        {# Modal des conditions générales #}

                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Les conditions générales d'utilisation.</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia a delectus ratione exercitationem sit distinctio consequatur dolores rem assumenda tempore numquam, necessitatibus nobis quisquam facere quia itaque molestias eius nostrum?
                                    </p>

                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia a delectus ratione exercitationem sit distinctio consequatur dolores rem assumenda tempore numquam, necessitatibus nobis quisquam facere quia itaque molestias eius nostrum?
                                    </p>
                                    
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia a delectus ratione exercitationem sit distinctio consequatur dolores rem assumenda tempore numquam, necessitatibus nobis quisquam facere quia itaque molestias eius nostrum?
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <input formnoValidate type="submit" class="btn btn-secondary w-100" value="S'inscrire">
                    </div>

                {{ form_end(registrationForm) }}

                <div class="mt-3 text-center">
                    <p>Vous avez déjà un compte ? <a href="{{ path('app_login') }}">Connectez-vous</a></p>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
